<div fx-layout="column" fx-flex>
  <md-toolbar color="primary">
    <span>נעם הגבר</span>
  </md-toolbar>
  <md-tab-group>

    <md-tab label="עץ ארגוני">



    <md-sidenav-layout fx-layout="row" fx-flex>

      <md-sidenav mode="side" opened>
        <md-list-item *ngFor="let user of users" (click)="selectedUser = user">
              <md-icon svgIcon="avatars:{{user.avatar}}" class="avatar"></md-icon>
              <span>{{user.name}}</span>
            </md-list-item>
      </md-sidenav>


      <div   fx-flex fx-layout="row"  >




        <!--<md-card  >
          <md-icon svgIcon="avatars:{{selectedUser.avatar}}" class="avatar"></md-icon>
          <h2>{{selectedUser.name}}</h2>
          <p>{{selectedUser.details}}</p>
        </md-card>

        <md-card fx-flex>
          <md-slide-toggle [(ngModel)]="selectedUser.isAdmin">Admin?</md-slide-toggle>
          <md-slide-toggle [(ngModel)]="selectedUser.isCool">Coooool??</md-slide-toggle>
        </md-card>-->

      </div>


    </md-sidenav-layout>

    </md-tab>
    <md-tab label="תהליכים">
      <span>Settings</span>
    </md-tab>
  </md-tab-group>

</div>
